/*CSS Reset*/
*{
    margin: 0;
    padding: o;
}

/* nabar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    background-color: lightcoral;
    
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
   
}
/* navbar logo */
#logo{
    margin: 1px 1px;
}
#logo img{
    height: 60px;
    margin: 2px 4px;
}

/* navbar list styling */

#navbar ul{
    display: flex;
}

#navbar ul li{
    /* color: white */
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', cursive;
}
#navbar ul li a{
    color: white;
    display: block;
    text-decoration: none;
    border-radius: 20px;
    padding: 2px 22px;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;

}
/* about section  */
#about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 39px;
    height: 273px;
}
/* footer section  */
#footer{
    position: relative;
    height: 176px;
    
}
#social{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74px;
    background-color: lightgray;
}
#social .box{
    padding: 0px;
    margin: 17px;
    border-radius: 20px;
}
#social .box a img{
    height: 45px;
    width: 38px;
    display: block;
    border-radius: 30px;
    margin: auto;
}
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: lightgray;
}
#contact .box{
    padding: 0px;
    margin: 17px;
    border-radius: 20px;
}
#contact .box a img{
    height: 46px;
    width: 41px;
    display: block;
    border-radius: 30px;
    margin: auto;
}

hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
}


#footer .para{
    color: black;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
    font-weight: bold;
}
#footer h2{
      font-size: 1.8rem;
      padding: 11px;
      font-family: 'DynaPuff', cursive;
      font-weight: bold;
      
}
/* utility section  */
.h-primary{
    color: coral;
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'DynaPuff', cursive;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.h-secondary{
    color: black;
    font-size: 1.4rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}
.center{
    text-align: center;
}